/* https://eslint.org/docs/rules/ */
{
	"globals": {
		"TRUE": "readonly",
		"FALSE": "readonly",
		"NULL": "readonly"
	},
  "extends": [
    "eslint:recommended",
		"plugin:react/recommended"
	],
	"plugins": [
		"react"
	],
  "rules": {
    "no-console": "off",
    "no-useless-escape": "off",
    "arrow-body-style": "off",
    "no-useless-computed-key": "off",
    "object-shorthand": "off",
    "prefer-template": "off",
    "no-debugger": "warn",
    "no-unused-vars": "off",
		"semi": "error",
		"quotes": ["error", "double", { "allowTemplateLiterals": true }],
		"no-control-regex": "off",
		"no-shadow": "error",
		
		// CRUCHES
		"no-func-assign": "off",
		"no-prototype-builtins": "off",
		"no-mixed-spaces-and-tabs": "off",
		"valid-typeof": "off",
		"no-empty": "off",
		"no-extra-boolean-cast": "off",
		"no-inner-declarations": "off",

		"react/prop-types": "error"
	},
  "env": {
    "browser": true,
    "commonjs": true,
    "node": true,
    "es6": true,
    "jest": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  }
}